**/*.cs linguist-language=C# linguist-detectable=true text diff=csharp
**/*.csproj linguist-language=C# linguist-detectable=true text eol=crlf

**/*.slnx linguist-language=TextGrid linguist-detectable=true text eol=crlf
**/*.resx linguist-language=TextGrid linguist-detectable=true text eol=crlf
