```gitignore
**/bin/
**/obj/
**/.vs/
**/TestResults/
**/artifacts/
**/publish/
**/packages/

*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log

*_ReSharper*/
*.DotSettings.user

.idea/

*.nupkg
*.snupkg

*.dbmdl

*.pdb
*.ilk
*.ipch
*.iobj
*.ipdb

!**/packages/build/
```
