**/*.cs linguist-language=C# text diff=csharp
**/*.csproj linguist-language=C# text eol=crlf

**/*.slnx linguist-language=Text linguist-generated=true text eol=crlf
**/*.resx linguist-language=Text linguist-generated=true text eol=crlf
