```gitignore
bin/
obj/
.vs/

*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log

TestResults/

artifacts/
publish/

_ReSharper*/
*.DotSettings.user

.idea/

*.nupkg
*.snupkg

*.dbmdl

*.pdb
*.ilk
*.ipch
*.iobj
*.ipdb

packages/
!packages/build/
```
